@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #0c3c3e;
  --color-accent: #4fc3f7;
  --color-neutral: #263238;
  --color-base-100: #fefefe;
  --color-info: #4fc3f7;
  --color-success: #81c784;
  --color-warning: #ffd54f;
  --color-error: #e57373;
}

html {
  scrollbar-gutter: stable;
}

